$grid-base: 24;

%horizontal-gridlines {
    background: -webkit-repeating-linear-gradient( -90deg, transparent, transparent 23px, #cccccc $grid-base + px);
    background: -moz-repeating-linear-gradient( -90deg, transparent, transparent 23px, #cccccc $grid-base + px);
    background: -o-repeating-linear-gradient( -90deg, transparent, transparent 23px, #cccccc $grid-base + px);
    background-size: 100% $grid-base + px;
}

%vertical-gridlines {
    background: -webkit-repeating-linear-gradient( 0deg, transparent, transparent 23px, #cccccc $grid-base + px);
    background: -moz-repeating-linear-gradient( 0deg, transparent, transparent 23px, #cccccc $grid-base + px);
    background: -o-repeating-linear-gradient( 0deg, transparent, transparent 23px, #cccccc $grid-base + px);
    background-size: $grid-base + px 100%;
    background-position: 50% 100%;
}

body {
    @extend %horizontal-gridlines;
}

.wrapper {
    @extend %vertical-gridlines;
}