@include set-relative-type();

body {
	text-rendering: optimizeLegibility;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}