    <footer class="footer-main">
        <div class="group">
            <div class="vcard">
                <span class="fn">Matt Turnure</span>
                <div class="adr">
                    <div class="street-address">
                        701 Market St.<br>
                        Suite 1350
                    </div>
                    <span class="locality">Chattanooga</span>, <span class="region">TN</span> <span class="postal-code">37402</span>
                </div>
            </div>
            <ul class="social">
                <li>
                    <a href="https://github.com/MattTurnure">
                        <i class="icon-github ico"></i>
                        <span class="label">github.com/MattTurnure</span>
                    </a>
                </li>
                <li>
                    <a href="http://www.linkedin.com/in/mattturnure">
                        <i class="icon-linkedin ico"></i>
                        <span class="label">linkedin.com/in/mattturnure</span>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/MattTurnure">
                        <i class="icon-twitter ico"></i>
                        <span class="label">twitter.com/MattTurnure</span>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>